.container {
  height: 100vh;
}
#mapContainer {
  .ol-control {
    background-color: #ffffff00;
    & button {
      font-size: 26px;
      color: #1890ff;
      background-color: #d9d9d9b8;
      height: 32px;
      width: 32px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: none;
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
.preview-params {
  pre {
    padding-top: 25px;
  }
}
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
  // white-space: normal !important;
  word-break: break-word !important;
  // word-spacing: normal !important;
  // word-break: normal !important;
}
