.layer-name {
  position: fixed;
  left: 15px;
  top: 10px;
  border-bottom: 2px solid #d5d5d5;
  text-indent: 4px;
  width: 94%;
  z-index: 22;
  color: #905;
  line-height: 30px;
  span {
    font-size: 16px;
    font-weight: bold;
    color: #690;
  }
}
.btn-group {
  position: fixed;
  right: 25px;
  top: 10px;
  z-index: 22;
}
